.root > * {
    -fx-font-family: 'Roboto';
}

#top-box {
    -fx-min-height: 0 !important;
    -fx-max-height: 0 !important;
    -fx-padding: 0 !important;
}

#bottom-box {
    -fx-padding: 0 !important;
    -fx-alignment: BOTTOM_CENTER !important;
}

#menu-button {
    -icon-size: 40;
}

#tab-bar {
    -fx-max-height: 36 !important;
}

#add-button {
    -fx-min-height: 36 !important;
    -fx-max-height: 36 !important;
}

.logo {
    -fx-graphic: url("../image/logo.png");
}

.console {
    -fx-margin: 32px 0;
}

.console .list-cell {
    -fx-padding: 0 24px;
}