.combo-box .list-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, 0, 0, 4);
    -fx-background-color: #fff;
    -fx-border-color: #e4e7ed;
    -fx-max-height: 274px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

.combo-box .list-view .list-cell {
    -fx-padding: 0 16px;
    -fx-pref-height: 32px;

    -fx-font-size: 13px;
    -fx-text-fill: #606266;
    -fx-cursor: hand;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #f5f7fa;
}

.combo-box .list-view .list-cell:selected {
    -fx-text-fill: #409eff;
    -fx-background-color: transparent;
}