.combo-box {
    -fx-cursor: hand;

    -fx-text-fill: #606266;
    -fx-background-color: #fff;

    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #dcdfe6;

    -fx-pref-height: 34px;

    -fx-padding: 0px 4px;
    -fx-font-size: 13px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

.combo-box:hover {
    -fx-border-color: #c0c4cc;
}

.combo-box:disabled {
    -fx-opacity: 1;
    -fx-background-color: #f5f7fa;
}

.combo-box:showing > .arrow-button > .arrow {
    -fx-shape: "M488.992 344L148.992 700.992q-8.992 10.016-8.992 22.016t8.992 22.016v0.992q8.992 8.992 21.504 8.992T192 746.016l320-336 320 336q8.992 8.992 21.504 8.992t21.504-8.992v-0.992q8.992-10.016 8.992-22.016t-8.992-22.016L535.008 344q-8.992-8.992-23.008-8.992t-23.008 8.992z";
}

.combo-box > .arrow-button > .arrow {
    -fx-shape: "M832 340.992l-320 312-320-312q-8.992-8.992-20.992-8.992t-20.992 8.992-8.992 20.992 8 20l340.992 332q8.992 8.992 22.016 8.992t22.016-8.992l340.992-331.008q8-8.992 8-21.504t-8.992-20.992-20.992-8.512-20.992 8.992z";
}